
body{
    background-color: #D6F8E8;
    height: 100%;
}

.container-fluid{
    padding-top: 20px;
}

#Submit_profile{
    margin-bottom: 50px;
}

footer{
    margin-bottom: 0px;
    padding-left: 100px;
    background-color: #414042;
    font-family: 'Larsseit';
    position: relative;
    bottom: 0;
}

#part_2{
    text-align: center;
    span{
        color: #00d278;
        p{
            
            font-family: 'Larsseit';
        }
        
    }
    #profileImage{
        padding-top: 20px;
        padding-bottom: 0px;
        border-style: dotted;
        border-color: #00d278;
    }
    #backgroundImage{
        padding-top: 20px;
        border-style: dotted;
        border-color: #00d278;
    }   

}