#part_2{
    text-align: center;
    span{
        color: #00d278;
        p{
            
            font-family: 'Larsseit';
        }
        
    }
    #profileImage{
        padding-top: 20px;
        padding-bottom: 0px;
        border-style: dotted;
        border-color: #00d278;
    }
    #backgroundImage{
        padding-top: 20px;
        border-style: dotted;
        border-color: #00d278;
    }   

}