
p {
  word-wrap: break-word;
  font-size: 14px;
  font-family: 'Larsseit';
}

// h3 {
//   color: #00D278;
//   font-size: 16px;

//   font-family: 'Larsseit-Bold';
// } no need this

.img-venn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

 /* Style the button that is used to open and close the collapsible content */
 .collapsible {
  background-color: #eee;
  color: #00D278;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  font-family: 'Larsseit-Bold';
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #f5f5f5;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 10px 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
} 