.liting{
    overflow: hidden;
    padding: 0;
    border: none;
    margin-bottom: 20px;
    .listing-content{
        .one-line{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #d0d2d3;
        }
    }
}




