#tipCreator{
    .modal-body{
        background-color: #f2f2f2 ;
    }

    #sendTipButton{
        background-color: #00d178;
        color: #f2f2f2;
        font-family: 'Larsseit';
        font-size: 12pt;
        letter-spacing: 2px;
    }
}