<meta name="csrf-token" content={{csrfToken}} />
<link rel="stylesheet" href="/css/tiplist.css" />
<script src="/javascripts/sources/generic_javascript.js"></script>
<script src="https://unpkg.com/popmotion/dist/popmotion.global.min.js"></script>

<div class="container-fluid" id="body">
  {{#if login}}

  {{else}}
    <div class="row">
      <div id="wrapper">
        <iframe
          id="video"
          src="https://www.youtube.com/embed/RFV3qV33LUA"
          frameborder="0"
          allowfullscreen
        >
        </iframe>
      </div>
      {{! //vimeo link// src="https://player.vimeo.com/video/148051964"  }}
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-center body-text intro-text">
          Welcome to FanTipper,<br />a community that rewards creativity.<br />Sign up to leave a comment of support.
        </h1>
        {{! commented out due to mobile application not ready yey }}
        {{! <h1 class="text-center body-text"><a href="">Android</a> and <a href="">iOS</a> app now available.</h1> }}
      </div>
      <div class="mx-auto">
        <div class="row text-center" style="align-items: center;">
          <a href="/learn">
            <button class="btn btn-primary">
              Find out more
            </button>
          </a>
          <h5 class="body-text">&nbsp;OR&nbsp;</h5>
          <button class="btn btn-primary" data-toggle="modal" data-target="#signup">
            Get Involved
          </button>
        </div>
      </div>
    </div>
  {{/if}}

  <div class="container">

    <div id="fans-list-base"></div>

    <div class="modal fade" id="shareTip" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="recieve-title">
              Tip Recieved!
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">
                &times;
              </span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-3">
                <img
                  src=""
                  alt=""
                  class="rounded-circle"
                  height="100px"
                  width="100px"
                  id="tippeeImgLocation"
                />
              </div>
              <div class="col-md-9">
                <q>
                  <span id="tippeesDesc">
                    Thank you for your support!
                  </span>
                </q>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-md-12">
                <p class="text-center" id="desc1">
                  Your tip was successfully sent to
                  <span id="tippeesName">{{CreatorName}}</span>
                  .
                </p>
                <p class="text-center" id="desc2">
                  share your tip and share the love!
                </p>
                <a class="text-center" href="" id="receipt_link">
                  View the receipt
                </a>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary form-control" id="facebook">
                <i id="i" class="fab fa-facebook-f"></i>
                Share
                it on Facebook
              </button>
              <button class="btn btn-primary form-control" id="twitter">
                <i class="fab fa-twitter"></i>
                Tweet it!
              </button>
            </div>
          </div>
          {{! <div class="modal-footer"></div> }}
        </div>
      </div>
    </div>

    <div class="modal fade" id="tipSuccess" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="recieve-title">
              Tip Recieved!
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">
                &times;
              </span>
            </button>
          </div>
          <div class="modal-body">
            <div class="tip_bill">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>