<div class="container" style="height: 100%">
  <h2>Learn about Fantipper</h2>
  <hr>
    <p>Fan Tipper is a community that rewards creativity.</p>
    <p>We are all about supporting people who are actively doing great things right now or have done something great in the past. This platform allows you to give back.</p>
    <p>Has someone online or offline brought joy to your day and given you something which is worth way more to you than you paid for it?</p>
    <p>Maybe you didn’t pay anything for it at all?</p>
    <p>It could be a really awesome coffee, a free tutorial, or an album you never got around to buying.</p>
    <p>What if you wanted to express real, immediate gratitude to whoever it was that created that moment?</p>
    <p>Don’t let amazing go unnoticed.</p>
    <style>
        footer {
            position: absolute;
            width: 100%;
        }
    </style>
</div>  