<div class="container">
  <link rel="stylesheet" href='/css/learn.css' />
  <div style="margin-top:12%; margin-bottom: 5%">
    <div>
      <h3>Fan Tipper is a community that rewards creativity.</h3>
      <p>If you are a creator who is doing something great, something that people get value from, and would like to
        allow fans an opportunity to express their gratitude, then we feel Fan Tipper could be of benefit to you.</p>
      <p>If you are a fan that feels that the world is powered by creativity and it’s driven by people who follow their
        passion, you can understand that isn’t always easy. So amazing people deserve to be supported.</p>
      <p>Everyone has the ability to do something great, whether they are fans or creators.</p>
      <p>Fan Tipper is about empowering people to restore the equilibrium. Providing a platform that allows you to
        perform a meaningful gesture of goodwill that is mutually acknowledged. It is also a way for fans to connect
        with creators. Opening a dialogue that enables fans to write comments, or FanPraise, when they tip a creator.
      </p>
      <p>If you know someone who deserves to have their actions acknowledged, let them know that there is a growing
        community ready to connect with the things they love.</p>
    </div>

    <hr>
    <button type="button" class="collapsible">How does it work?</button>
    <div class="content">
      <p>Fan Tipper is a new way to give and receive tips online. Think of it as a digital replacement for the tip jar or the buskers' hat. We created it because we think the end of coins shouldn’t be the end of generosity.</p>
      <p>Even in a cashless society, small change can still make a big difference.</p>
      <div class="row">
      <div id="wrapper">
        <iframe
          id="video"
          src="https://www.youtube.com/embed/RFV3qV33LUA"
          frameborder="0"
          allowfullscreen
        >
        </iframe>
      </div>
      {{! //vimeo link// src="https://player.vimeo.com/video/148051964"  }}
    </div>
    </div>

    <hr>
    <button type="button" class="collapsible">How do I give a tip?</button>
    <div class="content">
      <p>All you have to do is log in or sign up with Facebook, add your credit card details and hey presto! You are
        ready to start tipping. Whenever you see the Fan Tipper icon on a website or in a restaurant or cafe, don’t be
        shy. Check out their creator page, give them a tip and maybe even add a personal message. It's been designed to
        work perfectly on your mobile.</p>
    </div>

    <hr>
    <button type="button" class="collapsible">How much does it cost?</button>
    <div class="content">
      <p>Fan Tipper is free to use for both creators and fans.<br />
        The standard third party credit card fees apply which are deducted from the full tip amount.</p>
      <p>We don’t like ads and we won’t sell your personal information.
        <br />We do offer a monthly subscription service that gives you access to more features on your creator page and
        better ways to engage with your fans.</p>
      <!-- TODO: add correct link -->
      {{!-- <p>You can find out more details on the subscription page</p> --}}
      <!-- TODO: <a href="/subscribe">fantipper.com/subscribe</a> -->
    </div>

    <hr>
    <button type="button" class="collapsible">Why would I want to tip online?</button>
    <div class="content">
      <p>By giving a FanTip on Fan Tipper you are not only giving a financial acknowledgement you are also supporting
        the creator in other ways. Leave a comment and give the creator that warm fuzzy feeling of knowing they have
        your support. Share your tip through facebook or twitter and you will be promoting the creator to your friends.
        Or even if just tipping anonymously, your tip works as a positive review for the creator, helping the creator
        find new fans.</p>
    </div>

    <hr>
    <button type="button" class="collapsible">How do I become a creator?</button>
    <div class="content">
      <p>A creator can be anyone from an artist, charity or hospitality venue, right through to a blogger, researcher or
        volunteer. If you can ethically accept tips, you qualify to become a creator on Fan Tipper. Right now creator
        accounts are offered by invite only. Contact us via the details below and we will let you know as soon as we are
        ready to welcome you.</p>
    </div>

    <hr>
    <button type="button" class="collapsible">Who is behind Fan Tipper?</button>
    <div class="content">
      <p>A team of independent, entrepreneurial Melbournians launched Fan Tipper in 2019. All payment transfers are
        securely handled in Australia by Pin Payments/Stripe.</p>
    </div>

    <hr>
    <button type="button" class="collapsible">What we value</button>
    <div class="content">
      <img src="/images/fantip-venn.png" class="img-venn" alt="">
    </div>

    <hr>
    <button type="button" class="collapsible">How do I get in contact with Fan Tipper?</button>
    <div class="content">
      <!-- TODO: add correct link -->
      <p>Send us an email at <a href="mailto:info@fantipper.com">info@fantipper.com</a></p>
      <p>Or send us a message via social media: <a href="https://www.facebook.com/fantipper/">Facebook</a>, <a href="https://twitter.com/fantipper">Twitter</a> or <a href="https://www.instagram.com/fantipper/">Instagram</a>.</p>
    </div>
  </div>
</div>
<script>
  function copyFunction() {
    var copyText = document.getElementById("staticEmail");
    copyText.select();
    document.execCommand("copy");
    alert("Copied the text: " + copyText.value);
  }
</script>
<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  } 
</script>