@media screen and (max-width: 768px) {
  .body-content .creator-content .creator-main {
    border-right: 0px; } }

.creator-head {
  background: no-repeat center center;
  background-size: cover;
  color: #fff;
  height: 700px;
  width: 100%;
  position: relative;
  /* Center and scale the image nicely */ }
  .creator-head .background-fliter-div {
    background-color: rgba(30, 30, 30, 0.5);
    padding-top: 100px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .creator-head #creator-name {
    font-family: 'Larsseit-Bold';
    font-size: 40px;
    margin-top: 34px;
    text-transform: uppercase; }
  .creator-head #creator-location {
    text-transform: uppercase;
    font-family: 'Larsseit-Bold';
    font-size: 12px;
    color: #d0d2d3;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 20px; }
  .creator-head .category-token {
    font-family: 'Larsseit-Bold';
    border: 1px solid #d0d2d3;
    border-radius: 5px;
    padding: 2px;
    color: #d0d2d3;
    font-size: 11px;
    line-height: 26px;
    letter-spacing: .5px; }
  .creator-head .creator-share {
    font-size: 13px;
    margin-top: 70px; }
    .creator-head .creator-share #share-facebook {
      border-radius: 5px;
      -webkit-transition: all 200ms ease-out;
      -o-transition: all 200ms ease-out;
      transition: all 200ms ease-out;
      font-family: 'Larsseit-Bold';
      background-color: #355f9f; }
    .creator-head .creator-share #share-twitter {
      border-radius: 5px;
      background-color: #2ba9e1;
      -webkit-transition: all 200ms ease-out;
      -o-transition: all 200ms ease-out;
      transition: all 200ms ease-out;
      font-family: 'Larsseit-Bold'; }
    .creator-head .creator-share #share-url {
      border-radius: 5px;
      color: #666;
      background-color: #ccc;
      -webkit-transition: all 200ms ease-out;
      -o-transition: all 200ms ease-out;
      transition: all 200ms ease-out;
      font-family: 'Larsseit-Bold'; }
  .creator-head .creator-share > button {
    color: #fff;
    margin: 2px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 32px; }

.creator-content {
  margin-top: 30px; }
  .creator-content .creator-main {
    border-right: 2px double #e4e2e2; }
    .creator-content .creator-main #about {
      border-bottom: 1px solid #e4e2e2;
      margin-bottom: 20px; }
      .creator-content .creator-main #about h4 {
        color: #00d278;
        text-transform: uppercase;
        font-family: 'Larsseit-Medium';
        font-size: 14px; }
    .creator-content .creator-main #gallery {
      border-bottom: 1px solid #e4e2e2;
      margin-bottom: 20px; }
      .creator-content .creator-main #gallery h4 {
        color: #00d278;
        text-transform: uppercase;
        font-family: 'Larsseit-Medium';
        font-size: 14px; }
    .creator-content .creator-main #members {
      border-bottom: 1px solid #e4e2e2;
      margin-bottom: 20px; }
      .creator-content .creator-main #members h4 {
        color: #00d278;
        text-transform: uppercase;
        font-family: 'Larsseit-Medium';
        font-size: 14px; }
  .creator-content #content-secondary .btn-tip-listing {
    background-image: url("/images/button-fantip.svg");
    height: 40px;
    width: 130px; 
    background-size: cover;
    border-radius: 10px;
    box-shadow: 1px 1px #00d278 !important;
    outline: none; }
  .creator-content #content-secondary .creator-tips-total h5 {
    margin-top: 10px;
    color: #8c8c8c;
    font-size: 14px;
    font-family: 'Larsseit-Bold';
    text-transform: uppercase;
    margin-bottom: 5px;
    letter-spacing: 1px; }
  .creator-content #content-secondary .creator-tips-total .total {
    color: #333;
    font-size: 40px;
    font-family: 'Larsseit-Bold';
    margin-bottom: 18px;
    line-height: 40px; }
  .creator-content #content-secondary .creator-tips-total .target-text {
    color: #00d178;
    font-size: 25px;
    font-family: 'Larsseit-Bold';
    line-height: 30px; }
  .creator-content #content-secondary #creatorFans .top-fan-list h3 {
    text-transform: uppercase;
    font-size: 14px;
    color: #00d278;
    font-family: 'Larsseit-Bold';
    margin-bottom: 20px;
    margin-top: 0;
    margin-right: 10px;
    letter-spacing: 1px; }
  .creator-content #content-secondary #creatorFans .top-fan-list ul {
    padding-left: 0;
    height: 216px;
    overflow: hidden; }
    .creator-content #content-secondary #creatorFans .top-fan-list ul li {
      position: relative;
      display: block;
      padding: 0;
      margin-bottom: 2px;
      background-color: #f5f5f5;
      height: 70px;
      border: none; }

.creator-lower {
  background-color: #f5f5f5;
  padding-top: 65px;
  margin-top: 60px;
  padding-bottom: 60px; }
  .creator-lower .recent-comments h3 {
    text-transform: uppercase;
    font-size: 14px;
    color: #00d278;
    font-family: 'Larsseit-Bold';
    margin-bottom: 20px;
    margin-top: 0;
    letter-spacing: 1px; }
  .creator-lower .recent-comments ul {
    padding-left: 0;
    overflow: hidden; }
  .creator-lower .recent-comments li {
    position: relative;
    display: block;
    padding: 0;
    margin-bottom: 15px;
    background-color: #f5f5f5;
    border: none; }
  .creator-lower .recent-comments img {
    width: 70px;
    height: 70px;
    float: left;
    clear: both;
    margin-right: 16px; }
  .creator-lower .recent-comments .comment {
    background-color: #fff;
    min-height: 70px;
    margin-left: 82px;
    font-size: 14px;
    color: #333;
    padding: 20px; }
    .creator-lower .recent-comments .comment small {
      font-size: 14px;
      color: #999; }
  .creator-lower .creator-sidebar .fans {
    clear: both; }
    .creator-lower .creator-sidebar .fans h3 {
      text-transform: uppercase;
      font-size: 14px;
      color: #00d278;
      font-family: 'Larsseit-Bold';
      margin-bottom: 20px;
      margin-top: 0;
      letter-spacing: 1px; }
    .creator-lower .creator-sidebar .fans .pull-left {
      float: left !important;
      color: #00d278; }
    .creator-lower .creator-sidebar .fans .pull-right {
      float: right !important;
      color: #00d278; }
    .creator-lower .creator-sidebar .fans .fan-list {
      list-style: none;
      padding-left: 0px; }
      .creator-lower .creator-sidebar .fans .fan-list li {
        display: inline-block;
        margin-bottom: 3px; }
        .creator-lower .creator-sidebar .fans .fan-list li img {
          width: 64px;
          height: 64px; }
  .creator-lower .creator-become-a-fan {
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .creator-lower .creator-become-a-fan .btn-tip-listing {
      background-image: url("/images/button-fantip.svg");
      background-size: cover;
      height: 40px;
      width: 130px;
      display: inline-block; }
    .creator-lower .creator-become-a-fan h3 {
      text-transform: uppercase;
      font-size: 24px;
      color: #00d278;
      font-family: 'Larsseit-Bold';
      margin-bottom: 20px;
      margin-top: 0;
      letter-spacing: 1px; }

@media screen and (max-width: 768px) {
  .body-content .creator-content .creator-main {
    border-right: 0px; } }
