.nav-link {
  color: #fff; }

.navbar {
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-color: #cfccd1;
  border-bottom-style: solid; }

.navbar-nav .link:hover {
  border-bottom: #00D278 solid; }

.navbar-nav .nav-item a:hover {
  color: #00D278; }

.navbar-nav .nav-item a {
  letter-spacing: 1pt;
  color: #414042;
  font-family: 'Larsseit-Bold'; }

.dropdown-menu .dropdown-item a {
  color: #414042; }

.dropdown-menu .dropdown-item a:hover {
  color: #00D278;
  text-decoration: none; }

.navbar-nav .nav-item .signup {
  letter-spacing: 1pt;
  color: #fff;
  font-family: 'Larsseit-Bold'; }

.navbar-nav .nav-item .signup:hover {
  letter-spacing: 1pt;
  color: #fff;
  font-family: 'Larsseit-Bold'; }

.navbar-nav .nav-item a:hover {
  letter-spacing: 1pt;
  color: #00D278; }

.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important; }

.affix + .container-fluid {
  padding-top: 70px; }

.container {
  margin-top: 75px; }
