#shareTip h5 {
  color: #00d178;
  font-family: 'Larsseit-Medium'; }

#shareTip #tippeesDesc {
  font-size: 1em;
  font-family: 'Larsseit-Bold'; }

#shareTip .modal-body {
  background-color: #f2f2f2; }
  #shareTip .modal-body #desc1 {
    font-family: 'Larsseit-Bold'; }
  #shareTip .modal-body #desc2 {
    font-family: 'Larsseit-Thin'; }
  #shareTip .modal-body #tippeesDesc {
    font-family: 'Larsseit-Bold';
    color: #00d278;
    text-align: center; }
  #shareTip .modal-body q {
    font-family: 'Larsseit-Bold';
    font-size: 1.8em;
    color: #00d278; }
  #shareTip .modal-body #facebook {
    margin-bottom: 10px;
    background-color: #3B5998;
    color: #e4e2e2; }
  #shareTip .modal-body #twittr {
    background-color: #1DA1F2; }
