/* General CSS configurations of the main elements */

html, body {
    width : 100%;
    height: 100%;
    font: 14px;
    -webkit-font-smoothing : antialiased;
    font-family: 'Larsseit';
    background-color: white;
    position: absolute;
}

.main-container {
    min-height: 100%;
    padding-top: 20px;
}

.main {
    padding-bottom: 280px;
}

.container {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}

#message_base {
    height: 150px;
    overflow-y: auto;
}

#fan_message_base {
    height: 100%;
    overflow-y: auto;
}

footer {
    height: 260px;
    width: 100%;
    margin-top: -260px;
    overflow: hidden;
    background-color: #414042;
    font-family: 'Larsseit-Light';
    position: relative;
}

footer h5 {
    letter-spacing: 2px;
    color: #7f7e80;
}

footer #footer_c {
    color: white;
}

footer #footersocialmedia {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer #footersocialmedia li {
    display: inline;
}

footer a {
    color: #7f7e80;
}

footer a:hover {
    color: #00D278;
}

input[type=text]:focus {
    outline: none;
    box-shadow: 1px 1px #00d278 !important;
    border:1px solid #00d278 !important;
}

input[type=email]:focus {
    outline: none;
    box-shadow: 1px 1px #00d278 !important;
    border:1px solid #00d278 !important;
}

input[type=password]:focus {
    outline: none;
    box-shadow: 1px 1px #00d278 !important;
    border:1px solid #00d278 !important;
}

select:focus {
    outline: none;
    box-shadow: 1px 1px #00d278 !important;
    border:1px solid #00d278 !important;
}

textarea:focus {
    outline: none;
    box-shadow: 1px 1px #00d278 !important;
    border:1px solid #00d278 !important;
}

h1, h2, h3, h4, h5, p {
    font-family: 'Larsseit';
}

p {
    word-wrap: break-word;
}

.notifications {
    margin: 10px 10px 10px 10px;
}

.notifications .messages .fa-envelope {
    margin-left: 10px;
}

.notifications .offers .fa-certificate {
    margin-left: 10px;
}

#i {
    margin-right: 20px;
}

.gallery {
    margin-top: 10px;
    margin-bottom: 10px;
  }

.intro-text {
    padding-top: 50px;
    padding-right: 20%;
    padding-left: 20%;
}

nav {
    font-family: 'Larsseit';
    color: #414042;
}

.nav-link {
    color: #414042;
}

span {
    color: #414042;
}

i {
    padding-right: 10px;
}

a:hover {
    text-decoration: none;
    color: #00D278;
}

a:active {
    text-decoration: none;
    color: #414042;
}

.navbar-right {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
  }

  .ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
  }

.icon-bar {
    background-color: black;
}

.body-text {
    font-family: 'Larsseit-Bold';
}

.btn-primary {
    font-family: 'Larsseit';
}

.btn-success {
    font-family: 'Larsseit';
}

.btn-light {
    font-family: 'Larsseit';
}

.messages .offers :hover {
    border-radius: 25px;
}

.nav-item .badge {
    position: absolute;
    font-family: 'Larsseit-Thin';
}