/* General CSS configurations of the main elements */

html, body {
    width : 100%;
    padding-top: 0px;
    font: 14px;
    -webkit-font-smoothing : antialiased;
    font-family: 'Larsseit';
    background-color: inherit;
}

footer{
    /* margin-top: 9%; */

    margin-bottom: 0px;
    padding-left: 100px;
    background-color: #414042;
    font-family: 'Larsseit';
    position: relative;
    bottom: 0;
}

#mainpage-btn{
    background-color: #00cf75;
    color: #f5f5f5;
    border-color: #00cf75
}
#mainpage-btn:hover{
    background-color: #00d278;
    color: #f5f5f5;
    border-color: #00D278;
}
footer h5{
    letter-spacing: 2px;
    color: #7f7e80;
}

footer a{
    color: #7f7e80;
}

footer a:hover{
    text-decoration: none;
    color: #00D278;
}


input[type=text]:focus {
    outline: none;
    box-shadow: 1px 1px #00d278 !important;
    border:1px solid #00d278 !important;
}
input[type=email]:focus {
    outline: none;
    box-shadow: 1px 1px #00d278 !important;
    border:1px solid #00d278 !important;
}
input[type=password]:focus {
    outline: none;
    box-shadow: 1px 1px #00d278 !important;
    border:1px solid #00d278 !important;
}
select:focus {
    outline: none;
    box-shadow: 1px 1px #00d278 !important;
    border:1px solid #00d278 !important;
}
textarea:focus {
    outline: none;
    box-shadow: 1px 1px #00d278 !important;
    border:1px solid #00d278 !important;
}

h1, h2, h3, h4, h5, p{
    font-family: 'Larsseit';
}

.notifications{
    margin: 10px 10px 10px 10px;
}

.notifications .messages .fa-envelope{
    margin-left: 10px;
}
.notifications .offers .fa-certificate{
    margin-left: 10px;
}

#i{
    margin-right: 20px;
}

.container{
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}


.gallery{
    margin-top: 10px;
    margin-bottom: 10px;
  }

/* Profile image effects */

.image{
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50% !important;
    left: 40% !important;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}   

.cont:hover .image{
    opacity: 0.3;
}

.cont:hover .middle{
    opacity: 1;
}

/* Profile image effects ends */


.main-text{
    padding-top: 50px;
    padding-right: 20%;
    padding-left: 20%;
}

@media(min-width:600px){
    .main-text{
        font-size: 40px; 
    }
}

@media(min-width:300px){
    .main-text{
        font-size: 25px; 
    }
}


.col-lg-12 .responsive-video{
   
}

nav{
    font-family: 'Larsseit';
    color: #414042;
    
}
.nav-link{
    color: #414042;
}
span{
    color: #414042;
}
i{
    padding-right: 10px;
}

a:hover {
    text-decoration: none;
    color: #414042;
}

a:active{
    text-decoration: none;
    color: #414042;
}

.navbar-right {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
  }

  .ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
  }

.icon-bar{
    background-color: black;
}

.body-text{
    font-family: 'Larsseit-Bold';
}

.btn-primary{
    font-family: 'Larsseit';
}

.btn-success{
    font-family: 'Larsseit';
}

.btn-light{
    font-family: 'Larsseit';
}

.messages .offers :hover {
    border-radius: 25px;
}

.nav-item .glyphicon{
}

.nav-item .badge{
    position: absolute;
    
    font-family: 'Larsseit-Thin'
}



